<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome, {{username}}</title>
</head>
<body>
    <h1>Hi, welcome {{username}}</h1>
    <h3>Your friends.</h3>
    <form action={{url_for("home")}} method="POST">
        <label for="friends_">Choose a Friend:</label>
        <select name="friends_" id="friends_">
            { % for i in range(0, len_friends) % }
                <option value={{friends[i]}}>{{friends[i]}}</option>
            { % endfor % }
        </select>
        <br>
        <input type="submit" value="Submit">
    </form>
    <h3>All Users.</h3>
    <form action={{url_for("home")}} method="POST">
        <label for="users_">Choose a User:</label>
        <select name="users_" id="users_">
            {%for i in users%}
                <option value={{i}}>{{i}}</option>
            {%endfor%}
        </select>
        <br>
        <input type="submit" value="Submit">
    </form>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">
    var socket = io();
    socket.on('connect', function() {
        socket.emit('my event', {data: 'I\'m connected!'});
    });
</script>
</body>
</html>

